.articulos {
    h2 {}
    br{}
    p {}
    br {}
    .bio-image {
            text-align: center;
        img {
            max-width: 100%;
            border-radius: 25px;
            margin-bottom: 15px;
            width: 600px;
        }
    }
}