/* Media Queries */
/* Tablet */
@media screen and (max-width: 768px) {
    .ancho-max .navigation {
        height: 60px;
        border-radius: 0;
    }
    .logo img {
        max-width: 100px;
    }
    .menu li a {
        font-size: 0.75rem;
    }
    .articulo {
        flex-direction: column-reverse;
    }

    .art-image {
        margin-bottom: 15px;
    }

    .ancho-max .articulos .articulo .art-image img {
        width: 100%;
    }

    .ancho-max .articulos .tarjeta-celeste .art-image img {
        width: 100%;
    }

    .ancho-max .articulos .tarjeta-celeste {
        display: block;
    }

    .footer {
        font-size: 0.75rem;
        border-radius: 0;
        margin-bottom: 0;
    }
}
/* Mobile */
@media screen and (max-width: 480px) {
    .menu li {
        display: none;
    }
    
    .ancho-max .navigation .menu #offcanvas_btn {
        display: initial;
    }

    .boton-arriba {
        display: none;
    }
}