.ancho-max {
    max-width: 1250px;
    margin: 0 auto;
    .navigation {
        height: 85px;
        background-color: $claro;
        border-radius: 0 0 15px 15px;
        display: flex;
        justify-content: space-between;
        .logo {
            margin: auto 15px;
            a{ }
        }
        .menu {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 25px;
            margin-bottom: inherit;
            li { 
                a {
                    padding: 5px 10px;
                    text-decoration: none;
                    color: $green;
                    &:hover {
                        background-color: #f1f1f1;
                        color:#262626;
                        border-radius: 6px;
                    }
                }
            }
            #offcanvas_btn {
                display: none;
            }
        }
    }
    .redes {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: right;
        padding-right: 25px;
        margin-top:10px;
        li {
            a {
                padding-right: 10px;
                text-decoration: none;
                color: $green;
                &:hover {
                    color:#262626;
                }
            }
        }
    }
}